#orders-form{
    margin: 2rem auto;
    width: 60%;
}

@media screen and (max-width: 990px) {
  #orders-form{
    margin: 1.5rem auto;
    width: 90%;
}
}

.error {
    background: orangered;
    color: #fff;
    padding: 5px;
    margin: 5px;
  }

  .delete{
    background: rgb(224, 81, 81);
    border-radius: 5px;
    border: 1px;
    float: right;
  }

  ul{
    list-style: none;
  }

  .tableOrders{
    padding: 5px;
    background: #79f01877;
    margin: auto;
    border-radius: 10px;
    color: rgb(18, 19, 18);
    width: 90%;
  }